# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "/Users/jules/Desktop/work/sfsu/DS311/DS311-Technologies-in-Data-Analytic-FA23/Week_03_Pandas_and_Matplotlib/Lab_Assignment/data/schools_complete.csv"
student_data_to_load = "/Users/jules/Desktop/work/sfsu/DS311/DS311-Technologies-in-Data-Analytic-FA23/Week_03_Pandas_and_Matplotlib/Lab_Assignment/data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
# Create a District Summary

In [31]:
# Total number of schools
total_number_of_schools = school_data_complete['School ID'].nunique()
print(total_number_of_schools)

15

In [32]:
# Total number of students
total_number_of_students = school_data_complete['Student ID'].count()
print(total_number_of_students)

39170

In [33]:
# Total budget
budget = list(school_data_complete['budget'].unique())
total = 0

for b in budget:
    total = total + b

total_budget = total
print(total_budget)

24649428

In [35]:
# Average math score
average_math_score = school_data_complete['math_score'].mean()
print(average_math_score)

78.98537145774827

In [37]:
# Average reading score
average_reading_score = school_data_complete['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [38]:
# Overall average score
average_score = (school_data_complete['math_score'].mean() + school_data_complete['reading_score'].mean()) / 2
print(average_score)

80.43160582078121

In [40]:
# Percentage of passing math (70 or greater)
passing_math = (school_data_complete['math_score'] >= 70).mean() * 100
passing_reading = (school_data_complete['reading_score'] >= 70).mean() * 100
print(passing_math)
print(passing_reading)

74.9808526933878
85.80546336482001

In [42]:
# Create a District Summary
d = {'Total number of schools': total_number_of_schools,
     'Total number of students': total_number_of_students,
     'Total budget': total_budget,
     'Average Math score': average_math_score,
     'Average Reading score': average_reading_score,
     'Average score': average_score,
     'Passing math': passing_math,
     'Passing reading': passing_reading
}

district_summary = pd.DataFrame(data = d, index = [0])
district_summary

,Total number of schools,Total number of students,Total budget,Average Math score,Average Reading score,Average score,Passing math,Passing reading
0,15,39170,24649428,78.985371,81.87784,80.431606,74.980853,85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [49]:
#  Sort and display the top five schools in overall passing rate
school_data_complete['overall_passing_rate'] = (school_data_complete['reading_score'] + school_data_complete['math_score']) / 2

school_grouped = school_data_complete.groupby('school_name').agg({'overall_passing_rate': 'mean'})

top5_schools = school_grouped.sort_values(by='overall_passing_rate', ascending=False).head(5)
print(top5_schools)

                    overall_passing_rate
school_name
Pena High School               83.942308
Wright High School             83.818611
Holden High School             83.809133
Thomas High School             83.633639
Wilson High School             83.631844

In [51]:
# Calculate total school budget
budget = list(school_data_complete['budget'].unique())
total = 0

for b in budget:
    total = total + b

total_budget = total
print(total_budget)

24649428

In [57]:
# Calculate per student budget
school_per_student_budget = school_data_complete.groupby('school_name').agg({
    'budget': 'first',
    'size': 'first'
})

school_per_student_budget['Per Student Budget'] = school_per_student_budget['budget'] / school_per_student_budget['size']

print(school_per_student_budget)

                        budget  size  Per Student Budget
school_name
Bailey High School     3124928  4976               628.0
Cabrera High School    1081356  1858               582.0
Figueroa High School   1884411  2949               639.0
Ford High School       1763916  2739               644.0
Griffin High School     917500  1468               625.0
Hernandez High School  3022020  4635               652.0
Holden High School      248087   427               581.0
Huang High School      1910635  2917               655.0
Johnson High School    3094650  4761               650.0
Pena High School        585858   962               609.0
Rodriguez High School  2547363  3999               637.0
Shelton High School    1056600  1761               600.0
Thomas High School     1043130  1635               638.0
Wilson High School     1319574  2283               578.0
Wright High School     1049400  1800               583.0

In [60]:
# Cacluate the avg math and reading score
school_data_summary = school_data_complete.groupby('school_name').agg({
    'math_score': 'mean',
    'reading_score': 'mean'
})

print(school_data_summary)

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

#### Find the passing rate for math and reading (above 70 points)

In [66]:
# Find the total counts of math result
total_math_count = school_data_complete['math_score'].count()
print(f"Total counts of math result: {total_math_count}\n")

# Find the counts for math result in each school that pass 70 or higher
passing_math_count = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['math_score'].count()
print(passing_math_count)

# Calculate the math passing rate
math_passing_rate = (passing_math_count / total_math_count) * 100
print(f"\n{math_passing_rate}")

Total counts of math result: 39170

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

school_name
Bailey High School       8.470768
Cabrera High School      4.465152
Figueroa High School     4.968088
Ford High School         4.776615
Griffin High School      3.500128
Hernandez High School    7.898902
Holden High School       1.008425
Huang High School        4.891499
Johnson High School      8.029104
Pena High School         2.323207
Rodriguez High School    6.775594
Shelton High School      4.220066
Thomas High School       3.893286
Wilson High School       5.471024
Wright High School       4.288997
Name: math_score, dtype: float64

In [68]:
# Find the total counts of read result
total_reading_count = school_data_complete['reading_score'].count()
print(f"Total counts of reading results: {total_reading_count}\n")

# Find the counts for read result in each school that pass 70 or higher
passing_reading_count = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['reading_score'].count()
print(passing_reading_count)

# Calculate the read passing rate
reading_passing_rate = (passing_reading_count / total_reading_count) * 100
print(f"\n{reading_passing_rate}")

Total counts of reading results: 39170

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

school_name
Bailey High School       10.408476
Cabrera High School       4.603013
Figueroa High School      6.078632
Ford High School          5.545060
Griffin High School       3.640541
Hernandez High School     9.568547
Holden High School        1.049272
Huang High School         6.055655
Johnson High School       9.872351
Pena High School          2.356395
Rodriguez High School     8.189941
Shelton High School       4.309420
Thomas High School        4.061782
Wilson High School        5.626755
Wright High School        4.439622
Name: reading_score, dtype: float64

In [70]:
# Calculate the overall passing rate (average of the math and reading passing rate)
passing_rate = (((passing_reading_count / total_reading_count) + (passing_math_count / total_math_count)) / 2) * 100
print(passing_rate)

school_name
Bailey High School       9.439622
Cabrera High School      4.534082
Figueroa High School     5.523360
Ford High School         5.160837
Griffin High School      3.570334
Hernandez High School    8.733725
Holden High School       1.028849
Huang High School        5.473577
Johnson High School      8.950728
Pena High School         2.339801
Rodriguez High School    7.482767
Shelton High School      4.264743
Thomas High School       3.977534
Wilson High School       5.548889
Wright High School       4.364309
dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [72]:
#  Sort and display the worst five schools in overall passing rate
passing_rate_sorted = passing_rate.sort_values(ascending=False)
passing_rate_sorted.tail(5)

school_name
Shelton High School    4.264743
Thomas High School     3.977534
Griffin High School    3.570334
Pena High School       2.339801
Holden High School     1.028849
dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [78]:
# Create table that lists the average math score for each school of each grade level.
grade_9 = school_data_complete[school_data_complete['grade'] == '9th']
grade_10 = school_data_complete[school_data_complete['grade'] == '10th']
grade_11 = school_data_complete[school_data_complete['grade'] == '11th']
grade_12 = school_data_complete[school_data_complete['grade'] == '12th']

avg_math_score_grade9 = grade_9.groupby('school_name')['math_score'].mean()
avg_math_score_grade10 = grade_10.groupby('school_name')['math_score'].mean()
avg_math_score_grade11 = grade_11.groupby('school_name')['math_score'].mean()
avg_math_score_grade12 = grade_12.groupby('school_name')['math_score'].mean()

avg_math_by_grade = pd.DataFrame({
    '9th': avg_math_score_grade9,
    '10th': avg_math_score_grade10,
    '11th': avg_math_score_grade11,
    '12th': avg_math_score_grade12
})
print(avg_math_by_grade)

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [79]:
# Calculate the average math score for 9th grade in each school
avg_math_score_grade9 = grade_9.groupby('school_name')['math_score'].mean()
print(avg_math_score_grade9)

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [81]:
# Calculate the average math score for 10th grade in each school
print(avg_math_score_grade10)

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [82]:
# Calculate the average math score for 11th grade in each school
print(avg_math_score_grade11)

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [83]:
# Calculate the average math score for 12th grade in each school
print(avg_math_score_grade12)

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [84]:
# Create table that lists the average reading score for each school of each grade level.
avg_reading_score_grade9 = grade_9.groupby('school_name')['reading_score'].mean()
avg_reading_score_grade10 = grade_10.groupby('school_name')['reading_score'].mean()
avg_reading_score_grade11 = grade_11.groupby('school_name')['reading_score'].mean()
avg_reading_score_grade12 = grade_12.groupby('school_name')['reading_score'].mean()

avg_reading_by_grade = pd.DataFrame({
    '9th': avg_reading_score_grade9,
    '10th': avg_reading_score_grade10,
    '11th': avg_reading_score_grade11,
    '12th': avg_reading_score_grade12
})
print(avg_reading_by_grade)

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [85]:
# Calculate the average reading score for 9th grade in each school
print(avg_reading_score_grade9)

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [86]:
# Calculate the average reading score for 10th grade in each school
print(avg_reading_score_grade10)

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [87]:
# Calculate the average reading score for 11th grade in each school
print(avg_reading_score_grade11)

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [88]:
# Calculate the average reading score for 12th grade in each school
print(avg_reading_score_grade12)

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [89]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [91]:
# Create a new column to show budget per student in each row
school_data_complete['Budget per student'] = school_data_complete['budget'] / school_data_complete['size']
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,overall_passing_rate,Budget per student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5,655.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,94.5,638.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,82.5,638.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,78.5,638.0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,94.5,638.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,85.0,638.0

In [93]:
# Create a new column to define the spending ranges per student
school_data_complete['Spending Ranges (Per student)'] = pd.cut(school_data_complete['Budget per student'], bins=spending_bins, labels=group_names)
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,overall_passing_rate,Budget per student,Spending Ranges (Per student)
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5,655.0,$645-675
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5,655.0,$645-675
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0,655.0,$645-675
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5,655.0,$645-675
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5,655.0,$645-675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,94.5,638.0,$615-645
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,82.5,638.0,$615-645
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,78.5,638.0,$615-645
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,94.5,638.0,$615-645
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,85.0,638.0,$615-645

In [94]:
# Calculate the average math score within each spending range
avg_math_score_by_spending = school_data_complete.groupby('Spending Ranges (Per student)')['math_score'].mean()
print(avg_math_score_by_spending)

Spending Ranges (Per student)
<$585       83.363065
$585-615    83.529196
$615-645    78.061635
$645-675    77.049297
Name: math_score, dtype: float64

In [102]:
# Calculate the percentage passing rate for math in each spending range
passing_math_count_by_spending = school_data_complete[school_data_complete['math_score'] >= 70].groupby('Spending Ranges (Per student)').size()

total_students_by_spending = school_data_complete.groupby('Spending Ranges (Per student)').size()

avg_passing_rate_math_by_spending = (passing_math_count_by_spending / total_students_by_spending) * 100

print(avg_passing_rate_math_by_spending)

Spending Ranges (Per student)
<$585       93.702889
$585-615    94.124128
$615-645    71.400428
$645-675    66.230813
dtype: float64

In [103]:
# Calculate the percentage passing rate for reading in each spending range
passing_reading_count_by_spending = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('Spending Ranges (Per student)').size()

avg_passing_rate_reading_by_spending = (passing_reading_count_by_spending / total_students_by_spending) * 100

print(avg_passing_rate_reading_by_spending)

Spending Ranges (Per student)
<$585       96.686558
$585-615    95.886889
$615-645    83.614770
$645-675    81.109397
dtype: float64

In [104]:
# Calculate the percentage overall passing rate in each spending range
avg_passing_rate_by_spending = (((passing_reading_count_by_spending / total_students_by_spending) + (passing_math_count_by_spending / total_students_by_spending)) / 2)* 100
print(avg_passing_rate_by_spending)

Spending Ranges (Per student)
<$585       95.194724
$585-615    95.005509
$615-645    77.507599
$645-675    73.670105
dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [105]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [106]:
# Create a new column for the bin groups
school_data_complete['School Size'] = pd.cut(school_data_complete['size'], bins=size_bins, labels=group_names)
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,overall_passing_rate,Budget per student,Spending Ranges (Per student),School Size
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5,655.0,$645-675,Large (2000-5000)
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5,655.0,$645-675,Large (2000-5000)
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0,655.0,$645-675,Large (2000-5000)
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5,655.0,$645-675,Large (2000-5000)
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5,655.0,$645-675,Large (2000-5000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,94.5,638.0,$615-645,Medium (1000-2000)
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,82.5,638.0,$615-645,Medium (1000-2000)
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,78.5,638.0,$615-645,Medium (1000-2000)
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,94.5,638.0,$615-645,Medium (1000-2000)
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,85.0,638.0,$615-645,Medium (1000-2000)

Look for the total count of test scores that pass 70% or higher

In [111]:
# math_pass_size
count_math_passing = school_data_complete[school_data_complete['math_score'] >= 70].shape[0]
print(count_math_passing)

29370

In [110]:
# read_pass_size
count_reading_passing = school_data_complete[school_data_complete['reading_score'] >= 70].shape[0]
print(count_reading_passing)

33610

In [113]:
# Calculate the overall passing rate for different school size
passing_math_by_size = school_data_complete[school_data_complete['math_score'] >= 70].groupby('School Size').size()
passing_reading_by_size = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('School Size').size()
total_students_by_size = school_data_complete.groupby('School Size').size()

passing_rate_by_size = ((passing_math_by_size / total_students_by_size) + (passing_reading_by_size / total_students_by_size)) / 2 * 100
print(passing_rate_by_size)

School Size
Small (<1000)         94.996400
Medium (1000-2000)    95.194790
Large (2000-5000)     75.388769
dtype: float64

### Scores by School Type

* Perform the same operations as above, based on school type.

In [116]:
# Create bins and groups, school type {'Charter', 'District'}
unique_types = school_data_complete['type'].unique()
print(unique_types)

group_names = ["Charter", "District"]

['District' 'Charter']

Find counts of the passing 70 or higher score for the both test

In [118]:
# math pass size
count_math_passing = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type').size()
print(count_math_passing)

type
Charter     11426
District    17944
dtype: int64

In [119]:
# reading pass size
count_reading_passing = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type').size()
print(count_reading_passing)

type
Charter     11785
District    21825
dtype: int64

In [125]:
# Calculate the overall passing rate
passing_both = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]
passing_both_by_type = passing_both.groupby('type').size()

total_students_by_type = school_data_complete.groupby('type').size()

overall_passing_rate_by_type = (passing_both_by_type / total_students_by_type) * 100
print(overall_passing_rate_by_type)

type
Charter     90.560932
District    53.695878
dtype: float64